<a href="https://colab.research.google.com/github/SandyAtencio/ToolBox-Python/blob/master/Toolbox_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **Funcion con un solo parametro**

In [ ]:
# definimos el parametro que se le va a pasar a la funcion
def semana(dia):
    
    # concatenamos la palabra feliz con el valor del parametro
    dia_semana = 'Feliz ' + dia

    # devolvemos el resultado
    return(dia_semana)

# en la variable saludo, llamamos la funcion semana con el parametro a pasar
saludo = semana('Lunes')

# imprimimos la variable saludo
print(saludo)

Feliz Lunes

### **Funcion con multiples parametros**

In [ ]:
# definimos los parametros que se le van a pasar a la funcion
def finde(dia1, dia2, dia3):
    
    # concatenamos la palabra feliz con los diferentes valores del parametro
    dias_semana = 'Feliz fin de semana: ' + dia1 +' ' + dia2 + ' ' +dia3

    # devolvemos el resultado
    return(dias_semana)

# en la variable saludo_finde, llamamos la funcion finde con los diferentes parametros
saludo_finde = finde('viernes','sabado','domingo')

# imprimimos ña variable saludo_finde
print(saludo_finde)

Feliz fin de semana: viernes sabado domingo

### **Funcion con parametro por defecto**

In [ ]:
def raiz_cuadrada(num, raiz=2):
    resultado = num ** raiz
    return resultado

print("reemplazando el parametro por defecto")
raiz_cuadrada(2,3)

reemplazando el parametro por defecto

8

In [ ]:
print("Utilizando el parametro por defecto")
raiz_cuadrada(2)

Utilizando el parametro por defecto

4

In [ ]:
r

### **Argumentos flexibles en funciones**


1.   *args

*  Recibe los argumentos como una tupla
*  Es un parametro opcional, Se puede invocar a la función haciendo uso del mismo, o no.
*  El número de argumentos al invocar a la función es variable.
*  Son parámetros posicionales, es decir, a diferencia de los parámetros con nombre, su valor depende de la posición en la que se pasen a la función.

In [ ]:
def sumar_varios(*args):

    sumar_todos = 0

    for numero in args:
        sumar_todos += numero
    
    return sumar_todos

agregar_varios(2,3,4)

9

2. **kwargs

*  El parámetro recibe los argumentos como un diccionario.
*  Al tratarse de un diccionario, el orden de los parámetros no importa. Los parámetros se asocian en función de las claves del diccionario.

In [ ]:
def datos(**kwargs):

    for key, value in kwargs.items():
        print(key + ":  " + value)
datos(articulo="Detergente", categoria="aseo")

articulo:  Detergente
categoria:  aseo

### **Funciones lambda**

In [3]:
echo_word = (lambda palabra, veces:  palabra * veces)

result = echo_word('Python ', 5)

print(result)

Python Python Python Python Python

**map()**

In [5]:
nums = [2, 4, 6, 8, 10]

result = map(lambda a: a ** 2, nums)

print(list(result))

[4, 16, 36, 64, 100]

**filter()**

In [7]:
frutas = ['uva', 'pera', 'manzana', 'papaya','piña']

result = filter(lambda item: len(item) > 5, frutas)

print(list(result))

['manzana', 'papaya']

### **Tuplas**


*   son similares a las listas, pueden contener varios valores
*   son inmutables, es decir, no se les puede modificar su valor
*   se construyen usando los `()`

In [ ]:
tupla = (2, 'pera', True)
print(type(tupla))

<class 'tuple'>

**Desempaquetar una tupla**

In [ ]:
tupla = (2, 'pera', True)
num, fruta, decision = tupla
print(num)
print(fruta)
print(decision)

2
pera
True

Podemos acceder a las tuplas como si fueran una lista, asi:

In [ ]:
print(tupla[1])

pera

### **Iterables e iteradores**

**Iterable:** 
*   operan sobre Listas, diccionarios, strings, archivos con conexion
*   un objecto con una asociacion del metodo `iter()`
*   Aplicar `iter()` a un iterable crea un iterador

**Iterador:**
*   Produce el siguiente valor con `next`

**Iterando sobre un iterable (String)**

In [9]:
cadena = 'Hi'
iterar = iter(cadena)
next(iterar)

'H'

In [10]:
next(iterar)

'i'

**Iterando sobre un iterable (diccionarios)**

In [13]:
heroes = {'Marvel =>': 'Ironman', 'DC =>': 'Batman'}

for key, value in heroes.items():
    print(key, value)

Marvel => Ironman
DC => Batman

**Iterando sobre un iterable (archivos de conexion)**

In [14]:
archivo = open('file.txt')
iterador = iter(archivo)
print(next(iterador))

Este es un archivo de conexion ... primera linea

In [15]:
print(next(iterador))

Este es un archivo de conexion ... segunda linea

### **Enumeradores**

In [16]:
frutas = ['uva', 'pera', 'manzana', 'papaya','piña']
e = enumerate(frutas)
e_lista = list(e)
print(e_lista)

[(0, 'uva'), (1, 'pera'), (2, 'manzana'), (3, 'papaya'), (4, 'piña')]

In [19]:
for index, value in enumerate(frutas):
    print(index, value)

0 uva
1 pera
2 manzana
3 papaya
4 piña

In [20]:
for index, value in enumerate(frutas, start=10):
    print(index, value)

10 uva
11 pera
12 manzana
13 papaya
14 piña

**zip()**

In [22]:
categoria = ['Aseo', 'Lacteos', 'Bebidas']
articulo = ['Detergente', 'Leche', 'Gaseosa']
z = zip(categoria, articulo)
z_lista = list(z)
print(z_lista)

[('Aseo', 'Detergente'), ('Lacteos', 'Leche'), ('Bebidas', 'Gaseosa')]

In [26]:
for cat, art in zip(categoria, articulo):
    print(cat, art)

Aseo Detergente
Lacteos Leche
Bebidas Gaseosa

### **Comprensión de listas**
**Estrutura **

![image.png]()

In [30]:
numeros = [12, 8, 21, 3, 16]

nuevos_num = [ num + 1 for num in numeros]

print(nuevos_num)

[13, 9, 22, 4, 17]

**compresión de listas con `range()`**

In [31]:
resultado = [num for num in range(11)]
print(resultado)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**Bucles anidados con compresion de listas**

In [32]:
pares = [(num1, num2) for num1 in range(0, 2) for num2 in range(6, 8)]
print(pares)

[(0, 6), (0, 7), (1, 6), (1, 7)]

**Condicionales con compresion de listas**

In [33]:
[num ** 2 for num in range(10) if num % 2 == 0]

[0, 4, 16, 36, 64]

In [34]:
[num ** 2 if num % 2 == 0 else 0 for num in range(10)]

[0, 0, 4, 0, 16, 0, 36, 0, 64, 0]

**Compresiones Dict**


*   Crean diccionarios
*   Usan llaves `{}` en lugar de corchetes `[]`

In [37]:
letras = {l: l for l in 'Python'}
print(letras)

{'P': 'P', 'y': 'y', 't': 't', 'h': 'h', 'o': 'o', 'n': 'n'}